# Ignore virtual environment folder
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# (Optional) Ignore dataset folder if large
# data/